@media print
{
  body{
    margin: 0 auto;
    padding-top: 1cm;
  }
  .box{
    margin: 0 auto !important;    
    width: 12cm !important;
  }
  #content{
    margin: 0 auto !important;
    padding: 0 !important;
  }

  #main-table{
    font-size: 75% !important;
    thead {
      display: table-header-group;
    }
    tr{
      display:  table-row !important;
      border: 1px solid #dddddd !important;
      th,td{
        padding: 1mm 2mm !important;
      }
      th{
        border: 1px solid #dddddd !important;
      }
      td{
        border: 1px solid #dddddd !important;
        .service-count {
          text-align: center !important;
        }
      }
    }
  }
  #result{
      font-weight: bold;
  }

  .no-print, .no-print *
  {
    display: none !important;
  }
  .logo-print{
    /*-moz-transform: scale(0.75);*/
    float: right;
    width: 4cm !important;
    /*zoom: 75%;*/
    visibility: visible !important;
  }
  .info-print{
    /*-moz-transform: scale(0.75);*/
    float: left;    
    font-size: 8px !important;
   /* zoom: 75%;*/
    visibility: visible !important;
  }
  #datepicker{
    font-weight: bold !important;
  }
  .separator{
    border-bottom: 1px solid #DDD !important;
    width: 100% !important;
    margin: 10px 0 !important;
    visibility: visible !important;
  }

  /*hide placeholder*/
::-webkit-input-placeholder {color:transparent !important;}
::-moz-placeholder          {color:transparent !important;}/* Firefox 19+ */
:-moz-placeholder           {color:transparent !important;}/* Firefox 18- */
:-ms-input-placeholder      {color:transparent !important;}
  /*end of hide placeholder*/
  @page
  {
    size: auto;   /* auto is the initial value */
    margin: 0mm;  /* this affects the margin in the printer settings */
  }
  .protocol-title{
    font-size: 90%;
    margin: 0 !important;
    padding: 0 !important;
  }
  .print-group{
    position: relative !important;
    padding-left: 120px !important;
    input,
    textarea{
      font-size: 75%;
      padding-top: 0 !important;
      padding-bottom: 0 !important;
      height: 20px !important;
    }

  }
  .print-title{
    font-size: 75%;
    padding: 0 !important;
    position: absolute !important;
    left: 0 !important;
  }
  .print-inline-input{
    border: none !important;
    box-shadow: none !important;
  }
  .box ,label{
    margin: 0 auto !important;
  }
  .title-company{
    visibility: hidden !important;
    margin-bottom: 0 !important;
    padding: 0 !important;
  }

  p{
    margin: 0 !important;
  }
  input,
  textarea,
  .form-control {
    resize: none !important;
    border: none !important;
    box-shadow: none !important;
    outline: none !important;
  }
  .form-group {
    margin-bottom: 0px !important;
  }
  .form-signature{
    visibility: visible !important;
  }
  input[type=number] {-moz-appearance: textfield;}
  input[type="number"] {
    -moz-appearance: textfield;
}
input[type="number"]:hover,
input[type="number"]:focus {
    -moz-appearance: number-input;
}
}

 /* End Of Print Style */

/*input[type="number"]{
  float: right;
}*/
.separator{
  visibility: hidden;
}
.form-signature{
  font-size: 75%;
  visibility: hidden;
  margin-top: 1cm;
  width: 100%;
  .line{
    width: 3cm;
    border-bottom: 1px solid;
    margin: 0 5mm;
    display: inline-block;
  }
}
.logo-print{
  visibility: hidden;

float: right;
  /*position: absolute;*/
/*  top: 1cm;
  right: 1cm;*/
  width: 5cm;
}
.info-print{
  visibility: hidden;
  color: #000;
  float: left;
  /*position: absolute;
  top: 1cm;
  left: 1cm;*/
  font-size: 10px;
  p{
    padding: 0 !important;
    margin: 0 !important;
  }
}
.form-control {
  box-shadow: none !important;
  outline: none !important;
}

.title-company{
  text-align: center;
  font-size: 21px;
  .logo{
    width: 8cm;
  }
}
.protocol-title{
  text-align: center;
  padding: 7mm 0;
}
#content{
  height: 100%;
}
.service-count{
  width: 1.2cm;
  text-align: left;
}
.form-result {
  float: right;
  #result {
    width: 2cm;
    display: inline;
  }
}
.box{
  width: 18cm;
  margin: 1cm auto;
}
.textarea-animated{
    -webkit-transition: height 0.2s;
    -moz-transition: height 0.2s;
    transition: height 0.2s;
}
.print-btn{
  position: fixed;
  background: #f9f9f9 url('../img/print.svg') no-repeat center;
  background-size: 70px;
  top: 0;
  bottom: 0;
  right: 0;
  width: 150px;
  &:hover{
    background-color: #DFF0D8;
  }
}
.no-service {
  background-color: rgb(217, 237, 247) !important;
  &:hover {
    background-color: rgb(217, 237, 247) !important;
  }
}
#datepicker{
  width: 100px;
  display: inline-block;
}

#main-table{
  tr{
    cursor: pointer;
    th{
      text-align: center;
      vertical-align: middle;
      &.th-count{
        min-width: 70px;
      }
    }
    td{
      vertical-align: middle;
      text-align:center;
      padding-top: 13px ;
      padding-bottom: 13px ;
      &.td-title-name{
        text-align: left;
      }
      &.td-name{
        text-align: left;
      }
    }
    &.tr-title{
      td:first-child{
        background-repeat:no-repeat;
        background-position:center;
        background-size: 20px;
        background-image:url('../img/arrow.png') ;
        -moz-transition:0.2s all;
        -webkit-transition:0.2s all;
      }
      &.expanded{
        td:first-child{
          -moz-transform:rotate(90deg);
          -webkit-transform:rotate(90deg);
        }
      }
      &.collapsed{
        td:first-child{
          -moz-transform:rotate(-90deg);
          -webkit-transform:rotate(-90deg);
        }
      }
    }
    &.tr-result{
      background-color: #fff !important;
      cursor: default;
      border-style: double;
      border-left: white;
      border-right: white;
      border-bottom: white;
      td.title{
        text-align: left;
        font-weight: bold;
      }
      &:hover {
        background-color: #fff !important;
      }
    }
  }
  



  .count{
    padding-top: 0px !important;
    padding-bottom: 0px !important;
  }
}
  .client{
    margin-left: 5mm;
  }