@media print {
  .no-print,
  .no-print * {
    display: none !important;
  }
  @page {
    size: auto;
    margin: 0mm;
    
    /* auto is the initial value */
    /* this affects the margin in the printer settings */
  }
}
.print-group {
  position: relative;
  padding-left: 150px;
}
.print-title {
  padding: 8px 0;
  position: absolute;
  left: 0;
}
.print-inline-input {
  border: none !important;
  box-shadow: none !important;
}
.title-company {
  padding: 1cm 0 0 0;
  text-align: center;
  font-size: 21px;
}
#content {
  height: 100%;
}
.service-count {
  width: 1.2cm;
  text-align: center;
}
.form-result {
  float: right;
}
.form-result #result {
  width: 4cm;
  display: inline;
}
.box {
  width: 16cm;
  margin: 1cm auto;
}
.textarea-animated {
  -webkit-transition: height 0.2s;
  -moz-transition: height 0.2s;
  transition: height 0.2s;
}
.print-btn {
  position: fixed;
  background: #f9f9f9 url('../img/print.svg') no-repeat center;
  background-size: 70px;
  top: 0;
  bottom: 0;
  right: 0;
  width: 150px;
}
.print-btn:hover {
  background-color: #DFF0D8;
}
.no-service {
  background-color: #d9edf7 !important;
}
.no-service:hover {
  background-color: #d9edf7 !important;
}
#datepicker {
  width: 100px;
}
tr {
  cursor: pointer;
}
